@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #faf7f4;
  color: #000000;
}

/* NAVBAR */
.navi {
  background-color: #000;
  
  padding: 20px;
  border-radius: 40px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.archive {
  text-align: center;
}

.options {
  text-align: right;
}

.archive a {
  font-size: 1.5rem;
  font-weight: 600;
  color: beige;
  text-decoration: none;
}
.options a {
  font-size: 1.5rem;
  font-weight: 600;
  color: beige;
  text-decoration: none;
}

.archive a:hover {
  color: #f5bbdf;
}

.options a:hover {
  color: #f5bbdf;
}

/* MAIN SECTION */
.main {
  padding: 60px 40px;
}

h1 {
  font-size: 90px;
  margin-bottom: 10px;
}

p {
  color: #cf2f87;
  font-size: 1.1rem;
}

h2 {
  margin-top: 10px;
}

/* SCROLLING TEXT */


.card-text {
  
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
  background-color: beige;
}

.card-text span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* CARD GRID */
.quotes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 70px;
  margin: 50px;
  background-color: black;
  border-radius: 20px;
}

.card {
  height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card h2 {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  color: #8b1668;
}

/* SOCIAL MEDIA SECTION */
.social-media {
  padding: 40px;
}

.heads {
  background-color: #000;
  color: beige;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}

.heads a {
  text-decoration: none;
  color: beige;
 
  font-size: 1.2rem;
  margin: 10px 0;
}

.heads a:hover {
  color: #ffbade;
}

/* CAROUSEL BOX */
.carousel {
  height: 300px;
  width: 100%;
  
  margin: auto;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post {
  height: 400px;
  width: 290px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-top: 20px;

}

.post img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.post h2 {
  text-align: left;
  padding: 8px;
  color: #000;
}

.heart {
  text-align: right;
  padding: 8;
}

.brands {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
  margin: 50px;
  background-color: black;
  border-radius: 20px;

}
.brands img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.brands h1 {
  text-align: left;
  color: white;
}

.brands h3 {
  text-align: left;
  color: #0f1550;
  padding: 10px;
}




/* FOOTER */
footer {
  text-align: center;
  padding: 80px;
  font-size: 0.9rem;
  color: #ee95bf;
  background-color: #f5f2ef;
}
